<div class="row">
    {{#each devices}}

    <div class="col-md-3">

        <div class="card text-center" style="width: 18rem;">

            <div class="card-header bg-secondary">
                <h3 class="card-title">{{ deviceName }}</h3>
            </div>

            <div class="card-body">               

                <h5 class="card-subtitle mb-2 text-left">Propietario:</h5>

                <p class="card-text text-left">{{ userOwnerName }}</p>

                <h5 class="card-subtitle mb-2 text-left">Fecha de creación:</h5>

                <p class="card-text text-left">{{ date }}</p>

                <form class="deviceButtons" action="/devices/{{_id}}?_method=GET" method="GET">
                    <!--el name="_method" es obligatorio para que funcione-->
                    <input type="hidden" name="_method" value="GET">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-eye"></i></button>
                </form>

                <form class="deviceButtons" action="/devices/edit/{{_id}}?_method=PUT" method="PUT">
                    <!--el name="_method" es obligatorio para que funcione-->
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                </form>

                <form class="deviceButtons" action="/devices/delete/{{_id}}?_method=DELETE" method="POST">
                    <!--el name="_method" es obligatorio para que funcione-->
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </form>
                

            </div>
            
        </div>

    </div>

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hola {{user.userOwner}}</h1>
            <p clsss="lead">No tienes dispositivos registrados aun.</p>
            <a href="/devices/add" class="btn btn-success btn-block">Crear un nuevo dispositivo!</a>
        </div>
    </div>
    {{/each}}
</div>